<!DOCTYPE html>
<html>
<head>
	<title>WIP</title>
	<link rel="stylesheet" type="text/css" href="/styles/stylesUser.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.typekit.net/mik8wcm.css">
</head>
<body>
	<div class="sidenav">

		<ul>
			<div class="icon-box">
				<a class="home"><i class="fas fa-calendar" style="font-size:36px;"></i></a>
			</div>

			<li><a href="/dashboard">Dashboard</a></li>
      <br>
      <br>
			<li><a href="/calendar">Calendar</a></li>
      <br>
      <br>
			<li><a href="/reminders">Reminders</a></li>

			<li><a style="background-color: #292929; padding: 16px; margin: 8px; margin-top: 400px;" href="/logout">Log Out</a></li>
		</ul>
  	</div>

  	<div class="dash-calendar">
  		<br>
  		<h1 style="text-align:center;font-size:45px;">{{date}}</h1>
      <br>
      <hr>
  		<ul>

        <br>
  			<li><a href="#calendar">1 AM</a></li>
        <br>
  			<li><a href="#calendar">2 AM</a></li>
        <br>
  			<li><a href="#calendar">3 AM</a></li>
        <br>
  			<li><a href="#calendar">4 AM</a></li>
        <br>
  			<li><a href="#calendar">5 AM</a></li>
        <br>
  			<li><a href="#calendar">6 AM</a></li>
        <br>
  			<li><a href="#calendar">7 AM</a></li>
        <br>
  			<li><a href="#calendar">8 AM</a></li>
        <br>
  			<li><a href="#calendar">9 AM</a></li>
        <br>
  			<li><a href="#calendar">10 AM</a></li>
        <br>
  			<li><a href="#calendar">11 AM</a></li>
        <br>
  			<li><a href="#calendar">12 PM</a></li>
        <br>
  			<li><a href="#calendar">1 PM</a></li>
        <br>
  			<li><a href="#calendar">2 PM</a></li>
        <br>
  			<li><a href="#calendar">3 PM</a></li>
        <br>
  			<li><a href="#calendar">4 PM</a></li>
        <br>
  			<li><a href="#calendar">5 PM</a></li>
        <br>
  			<li><a href="#calendar">6 PM</a></li>
        <br>
  			<li><a href="#calendar">7 PM</a></li>
        <br>
  			<li><a href="#calendar">8 PM</a></li>
        <br>
  			<li><a href="#calendar">9 PM</a></li>
        <br>
  			<li><a href="#calendar">10 PM</a></li>
        <br>
  			<li><a href="#calendar">11 PM</a></li>
        <br>
  			<li><a href="#calendar">12 AM</a></li>
  		</ul>
  	</div>

    <div class="dash-reminder">
      <h2 style="text-align: center;">Ongoing Reminders</h2>
        <hr>
        <br>
        <input type="checkbox" name="reminder1">[Placeholder]</input>
        <br>
        <input type="checkbox" name="reminder2">[Placeholder]</input>
        <br>
        <input type="checkbox" name="reminder3">[Placeholder]</input>
        <br>
        <input type="checkbox" name="reminder4">[Placeholder]</input>
    </div>
    <form class="goal-form">
    <div id="goal-id" class="dash-goal">
      <h2>Daily Goal</h2>
      <hr>
      <br>
      <label for="dgoal">Set a daily goal...</label>
      <input type="text" name="goal" id="dgoal">
      <p id="goal-text"> </p>
      <br>
      <br>
      <button type ="submit" id="submit" name="daily_button" class="submit_btn">+</button>
    </div>
</form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>