<!DOCTYPE html>
<html>
<head>
	<title>WIP</title>
	<link rel="stylesheet" type="text/css" href="/styles/stylesUser.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.typekit.net/mik8wcm.css">
</head>
<body>
	<div class="sidenav">

		<ul>
			<div class="icon-box">
				<i class="fas fa-calendar" style="font-size:36px;"></i>
			</div>

			<li><a href="/dashboard">Dashboard</a></li>
			<br>
			<br>
			<li><a href="/calendar">Calendar</a></li>
			<br>
			<br>
			<li><a href="/reminders">Reminders</a></li>

			<li><a style="background-color: #292929; padding: 16px; margin: 8px; margin-top: 400px;" href="/">Log Out</a></li>
		</ul>
  	</div>

  	<div class="dash">
  		<br>
  	</div>
</body>
</html>