<!DOCTYPE html>
<html>
<head>
	<title>WIP</title>
	<link rel="stylesheet" type="text/css" href="/styles/stylesUser.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.typekit.net/mik8wcm.css">
</head>
<body>
	<div class="sidenav">

		<ul>
			<div class="icon-box">
				<a class="home" href="/"><i class="fas fa-calendar" style="font-size:36px;"></i></a>
			</div>

			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/calendar">Calendar</a></li>
			<li><a href="/reminders">Reminders</a></li>

			<li><a style="background-color: #292929; padding: 16px; margin: 8px; margin-top: 400px;" href="/">Log Out</a></li>
		</ul>
  	</div>

  	<div class="dash-calendar">
  		<br>
  		<h1 style="text-align:center;">{{date}}</h1>
  		<ul>
  			<li><a href="#calendar">{{}} AM</a> </li>
  			<li><a href="#calendar">2 AM</a></li>
  			<li><a href="#calendar">3 AM</a></li>
  			<li><a href="#calendar">4 AM</a></li>
  			<li><a href="#calendar">5 AM</a></li>
  			<li><a href="#calendar">6 AM</a></li>
  			<li><a href="#calendar">7 AM</a></li>
  			<li><a href="#calendar">8 AM</a></li>
  			<li><a href="#calendar">9 AM</a></li>
  			<li><a href="#calendar">10 AM</a></li>
  			<li><a href="#calendar">11 AM</a></li>
  			<li><a href="#calendar">12 PM</a></li>
  			<li><a href="#calendar">1 PM</a></li>
  			<li><a href="#calendar">2 PM</a></li>
  			<li><a href="#calendar">3 PM</a></li>
  			<li><a href="#calendar">4 PM</a></li>
  			<li><a href="#calendar">5 PM</a></li>
  			<li><a href="#calendar">6 PM</a></li>
  			<li><a href="#calendar">7 PM</a></li>
  			<li><a href="#calendar">8 PM</a></li>
  			<li><a href="#calendar">9 PM</a></li>
  			<li><a href="#calendar">10 PM</a></li>
  			<li><a href="#calendar">11 PM</a></li>
  			<li><a href="#calendar">12 AM</a></li>
  		</ul>
  	</div>

    <div class="dash-reminder">
      <h2>Ongoing Reminders</h2>
        <ul>
          <li>hello <button class="delete-btn">Delete</button></li>
          <li>hello <button class="delete-btn">Delete</button></li>
        </ul>
    </div>

    <div class="dash-goal">
      <h2>Daily Goal</h2>
    </div>

</body>
</html>