<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="/styles/home.css">
	<link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<div class="container">

	<nav class="main-nav">
		<ul class="main-nav-list">
			
			<div class="icon-box">
				<i class="fas fa-calendar" style="font-size:36px;"></i>
			</div>
			
			<div class="btns">
				<li><a id="log-in" href="/login">Log In</a></li>
				<li><a id="sign-up" href="/sign-up">Sign Up</a></li>
			</div>
			
		</ul>
	</nav>


	<header class="header">
		<h1 id="website-name">Work In Progress</h1>
		<p>Welcome to Work in Progress! This is a daily planner app for the everyday worker. Work in Progress allows a you to plan events and set objectives for each day. It also allows you to set reminders for specific event. This ultimately helps you lead an organized life. </p>
	</header>
</div>


</body>
</html>