<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="/styles/homepage.css">
	<link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.typekit.net/mik8wcm.css">
</head>
<body>
<div class="container">

	<nav class="main-nav">
		
			<div class="icon-box">
				<a class="home" href="/"><i class="fas fa-calendar" style="font-size:36px;"></i></a>
			</div>
		<ul class="main-nav-list">	
				<li><a class="btn" href="/login">Log In</a></li>
				<li><a class="btn" href="/sign-up">Sign Up</a></li>
			
			
		</ul>
	</nav>


	<header class="header">
		<h1 id="website-name">Work In Progress</h1>
		<p>The daily planner app for the everyday worker.</p>
		<div class="home-button">
			<button><a href="/sign-up">Get started</a></button>
		</div>
	</header>
</div>

<script type="text/javascript" src="script.js"></script>
</body>
</html>