<!DOCTYPE html>
<html>
<head>
	<title>Reminders</title>
	<link rel="stylesheet" type="text/css" href="/styles/reminders.css">
	<link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
	<div class="container">
	<div class="sidenav">

		<ul>
			<div class="icon-box">
				<i class="fas fa-calendar" style="font-size:36px;"></i>
			</div>

			<li><a href="/dashboard">Dashboard</a></li>
			<br>
			<br>
			<li><a href="/calendar">Calendar</a></li>
			<br>
			<br>
			<li><a href="/reminders">Reminders</a></li>

			<li><a style="background-color: #292929; padding: 16px; margin: 8px; margin-top: 400px;" href="/">Log Out</a></li>
		</ul>
  	</div>


	<div class="main-section">
		<div class="add">
		<h1> Add Reminders</h1>
		<form method="post" action="">

			<label>Date: <input type="date" name="reminder-date"></label>
			<br>
			<label>Info: <br><textarea rows="5" cols="20" name="reminder-info"></textarea></label>
			<br>
			<button id="submit-btn">+</button>
		</form>
		</div>
		<div class="reminders-list">
			<h2>Ongoing Reminders</h2>
			<ul>
				<li>hello <button class="delete-btn">Delete</button></li>
				<li>hello <button class="delete-btn">Delete</button></li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>