@import url('https://fonts.googleapis.com/css?family=Fascinate&display=swap');

:root{
  /*Creates CSS variable set to a certain style which 
  can be used multiple times (e.g gradient is used in line 25)*/
  
  --gradient:linear-gradient(to right, #fa709a 0%, #fee140 100%);
  --font: Fascinate;
  --font-color:#969696;
}

body{
  background: var(--gradient);
  /*background-color: #fafbfe; */
  /*font-family: var(--font); */

  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
}

.grid{
  display: grid       !important;
  grid-template-columns: 1fr 1fr        !important;
}

.home {
  text-decoration:none;
  color:white;
}

.icon-box{
  height: 2.5rem; /* set font relative to default so, 2.5 times the default 16px */
  width:2.5rem;
  text-align: center;
  align-self: center;
  margin:10px;
  color: white;
}

.sidenav{
  height: 100vh;
}
.sidenav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidenav li a {
  display: block;
  color: white;
  padding: 0px;
  text-decoration: none;
  transition: .4s;
  text-align: center;
  margin-top: 20px;
}

.sidenav li a:hover{
  color: var(--font-color);
}

.container{
  position: absolute;
  top: 0;
  left:18rem;
  font-size: 1.2rem;
}

.events-section{
  justify-self:center;
  height:70%;
  margin-top: 3rem;
  background-color: white;
  color:#6c757d;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 5px black;  
}


.events-section ul li{
  list-style: square;
  background-color: white;
  border-radius: 2px;
  color: black;
  margin:5px;
  padding: 3px;
}

.ongoing h1{
  text-align: center;
  font-weight: bold;
}

.add{
  margin-top: 3rem;
}

.add button{
  display: block;
  background-color: var(--font-color);
  color:black;
  font-size: 1.5rem;
  margin:10px auto;
  border:none;
  box-shadow: 0 3px 0 black;

}

.add button:hover{
  box-shadow: 0 1px 0 black;
}



.hidden{
  display: none;
}



.bg-info{
  background-color: #17a2b8 ;
}
