@import url('https://fonts.googleapis.com/css?family=Fascinate&display=swap');

:root{
  /*Creates CSS variable set to a certain style which 
  can be used multiple times (e.g gradient is used in line 25)*/
  
  --gradient:linear-gradient(to right, #fa709a 0%, #fee140 100%);
  --font: Fascinate;
}

body{
  background: var(--gradient);
  /*background-color: #fafbfe; */
  /*font-family: var(--font); */

  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
}

.home {
  text-decoration:none;
  color:white;
}

.icon-box{
  height: 2.5rem; /* set font relative to default so, 2.5 times the default 16px */
  width:2.5rem;
  text-align: center;
  align-self: center;
  margin:10px;
  color: white;
}

.sidenav{
  height: 100vh;
}
.sidenav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidenav li a {
  display: block;
  color: white;
  padding: 0px;
  text-decoration: none;
  transition: .4s;
  text-align: center;
  margin-top: 20px;
}

.sidenav li a:hover{
  color: #969696;
}

/*
.grid{
  display: grid;
  grid-template-columns:0% 110% 35%;

}

.events-list{
  background-color: white;
}
.container{
  align-self: start;
  font-size: 1.5rem;
}*/
.container{
  position: absolute;
  top: 0;
  left:18rem;
  font-size: 1.2rem;
}

