
/*Imports fancy font*/
@import url('https://fonts.googleapis.com/css?family=Fascinate&display=swap');

:root{
	/*Creates CSS variable set to a certain style which 
	can be used multiple times (e.g gradient is used in line 25)*/
	
	--gradient:linear-gradient(to right, #fa709a 0%, #fee140 100%);
	--font: Fascinate;
}




/*Set default margin & padding to 0*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*Main styles*/
body{
	background: var(--gradient); /* Set bg equal to value of variable gradient*/
	font-family: var(--font); /*Set font equal to value of variable font*/
}

.main-nav{
	background-color: black;
}

.main-nav ul{
	display: grid; /*defines grid to styles nav bar*/
	grid-template-columns: 1fr 1fr;


}


.icon-box{
	background-color: white;
	height: 2.5rem; /* set font relative to default so, 2.5 times the default 16px */
	width:2.5rem;
	text-align: center;
	align-self: center;
	margin:10px;

}
.btns{
	justify-self:end;
	display: grid;
	grid-template-columns: 1fr 1fr;
}


.main-nav ul li{
	list-style: none;
}


.main-nav ul li:hover{
	background-color: #B2B2B2; /*hover effect on btns*/
}


.main-nav a{
	text-decoration: none;
	font-style:bold;
	text-transform: uppercase;
	display: block;
	padding: 15px;
	color:white;
	width: 30%;
	border-radius: 5px;
	text-align: center;


}

.header{
	width:50%;
	text-align: center;
	margin: 100px auto;

}

#website-name{
	font-size: 5rem;
	margin-bottom: 20px;
}





