@import url('https://fonts.googleapis.com/css?family=Fascinate&display=swap');

:root{
  /*Creates CSS variable set to a certain style which 
  can be used multiple times (e.g gradient is used in line 25)*/
  
  --gradient:linear-gradient(to right, #fa709a 0%, #fee140 100%);
  --font: Fascinate;
}

body{
  background: var(--gradient);
  /*font-family: var(--font); */

  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0px;
}

.home {
  text-decoration:none;
  color:white;
}

.icon-box{
  height: 2.5rem; /* set font relative to default so, 2.5 times the default 16px */
  width:2.5rem;
  text-align: center;
  align-self: center;
  margin:10px;
  color: white;
}

.sidenav {
  margin-top: 0;
}

.sidenav ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 15%;
  background-color: black;
  /*background-color: #727cf5;*/
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidenav li a {
  display: block;
  color: white;
  padding: 0px;
  text-decoration: none;
  transition: .4s;
  text-align: center;
  margin-top: 20px;
}

.sidenav li a:hover{
  color: #969696;
}

.dash-calendar {
  width: 600px;
  height: 670px;
  padding: 10px;
  margin-left: 17em;
  margin-top: 5em;
  margin-bottom: 5em;
  display: block;
  background-color: white;
  color: #6c757d;
  border-radius: 8px;
  overflow: auto;
  float: left;
  box-shadow: 0 0 5px #383838;  
}

.dash-calendar ul {
  list-style-type: none;
  text-align: right;
  margin-right: 500px;
}

.dash-calendar li a {
  color: #6c757d;
  text-decoration: none;
  padding: 2px;
}

.dash-reminder {
  width: 420px;
  height: 100%;
  padding: 10px;
  margin-right: 5em;
  margin-top: 5em;
  background-color: white;
  color: #6c757d;
  border-radius: 8px;
  overflow: auto;
  float: right;
  box-shadow: 0 0 5px #383838;  
}

.dash-reminder input{
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5em;
}

.dash-goal {
  width: 420px;
  height: 100%;
  padding: 10px;
  margin-right: 5em;
  margin-top: 33px;
  background-color: white;
  color: #6c757d;
  border-radius: 8px;
  overflow: auto;
  text-align: center;
  float: right;
  box-shadow: 0 0 5px #383838;   
}

.dash-reminder input {
  width: 15px;
  height: 15px;
}

.dash-goal input {
  width: 400px;
  height: 25px;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #6c757d;
}